body {
    font-family: 'Roboto', sans-serif;
}

#calendar {
    margin: 4rem 0
}

.text-muted {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
}

.hour {
    line-height: 1;
    font-weight: 800;
    height: 32.7px;
    text-align: right;
    color: #676767;
    font-size: 1.25rem;

}

.hour:nth-child(even) {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

.day {
    padding: 0 20px;
    position: relative;
    width: 620px;
    height: 720px;
    background: #ebebeb;
    border-left: 5px solid #e0e0e0;
    box-sizing: border-box;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    vertical-align: top;
}

.time {
    display: inline-block;
}

.time-block {
    height: 32.7px;
    border-top: 1px solid black;
}

.events {
    width: 100%;
    height: 100%;
    position: relative;

    top: 0
}

.event {
    height: 32.7px;
    background: white;
    border-left: 5px solid #606ea2;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 10px;
}

.event .title {
    color: #7683ae;
    font-size: larger;
}

.event .description {
    font-size: small;
}